!!! 5
%html(lang='en')
  %head
    %title TBD
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width,initial-scale=1')
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tag
  %body
    .container
      - flash.each do |severity, message|
        = flash_div severity do
          = message
      = yield
    = javascript_include_tag 'application'
