!!! XML
!!! 5
%html
  %head
    %title REPLACE ME
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tag
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=UTF-8' }
  %body
    .container
      = render 'application/flash'
      = yield
    = javascript_include_tag 'application'
